<!doctype html>
<html>
<meta charset="utf-8"
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<Title>Livestreams</Title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
<link rel="stylesheet" href="../resources/css/my_style.css"
<body>


<!--Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="home.html">
    <img class="rounded-circle" src="E3.png" alt="" width="30" height="25">
    </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="home.html">Home</a>
        </li>
      <li class="nav-item">
        <a class="nav-link" href="latest_news.html">Latest News</a>
        </li>
      <li class="nav-item">
        <a class="nav-link" href="developers.html">Developers</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="livestreams.html">Livestreams</a>
        </li>
     <li class="nav-item">
        <a class="nav-link" href="announcements.html">Announcements</a>
      </li>
     <li class="nav-item">
        <a class="nav-link" href="PictureAndVideo.html">Pictures and Video Gallery</a>
      </li>

</ul>

  </div>
</nav>
